In [6]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
# 1. Remove rows where the salary_year_avg column has missing values. 
# Display the number of rows before and after removing.
df_unique = df
df_unique = df_unique.drop_duplicates(subset = 'salary_year_avg')

rows_before = len(df)
rows_after = len(df_unique)

print('Length of Original df:       ', len(df))
print('Length od drop duplicates df:', len(df_unique))
print('Rows dropped:                ', len(df) - len(df_unique))

rows_before, rows_after

Length of Original df:        785741
Length od drop duplicates df: 2703
Rows dropped:                 783038

(785741, 2703)

In [ ]:
# 2. Remove duplicate rows from the DataFrame based on the job_location column. 
# Display the number of rows before and after removing duplicates.

df_unique = df.copy()
df_unique = df_unique.drop_duplicates(subset = ['job_location'])

rows_before = len(df)
rows_after = len(df_unique)

rows_before, rows_after

(785741, 17218)

In [ ]:
# 3. Fill missing values in the salary_rate column with the string 'Unknown'. 
# Display the first 10 rows of the salary_rate column before and after filling.

df_new = df.copy()
df_new['salary_rate'] = df_new['salary_rate'].fillna('Unknown')

print(df['salary_rate'].head(10))
print(df_new['salary_rate'].head(10))

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: salary_rate, dtype: object
0    Unknown
1    Unknown
2    Unknown
3    Unknown
4    Unknown
5    Unknown
6    Unknown
7    Unknown
8    Unknown
9    Unknown
Name: salary_rate, dtype: object