In [1]:
# Check if the job_title1 of 'Data Engineer' is not the same object as the job_title2 of 'Data Scientist' and print the result.

job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'
print(job_title1 is not job_title2)

True

In [2]:
# Determine if the job location 'New York' is in the list of job_locations ['New York', 'San Francisco', 'Austin'] and print the result.

job_locations = ['New York', 'San Francisco', 'Austin']
print('New York' in job_locations)

True

In [3]:
# Check if the job_title 'Data Analyst' is not in the job_description string 'Data Scientist at Tech Corp' and print the result.

job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'
print(job_title not in job_description)

True

In [4]:
# Check if both 'Data Scientist' and 'Machine Learning Engineer' are in the list of job titles ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'] 
# and print the result.

job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
print('Data Scientist' in job_titles and 'Machine Learning Engineer' in job_titles)

True

In [5]:
# Perform a bitwise OR operation on the binary representations of the salaries 100000 and 50000 and print the result. Named salary1 and salary2 respectively.

salary1 = 100000
salary2 = 50000
result = salary1 | salary2
print(result)

116720