In [1]:
# Convert the string job_title to uppercase. The variable is set to 'data scientist'.

job_title = 'data scientist'
job_title_upper = job_title.upper()
print(job_title_upper)

DATA SCIENTIST

In [2]:
# Replace the word 'Analyst' with 'Engineer' in the string job_title. The variable is set to 'Data Analyst'.

job_title = 'Data Analyst'
new_job_title = job_title.replace('Analyst', 'Engineer')
print(new_job_title)

Data Engineer

In [3]:
# Concatenate the strings seniority_level and job_title with a space in between. The variables are set to 'Senior' and 'Data Analyst' respectively.

seniority_level = 'Senior'
job_title = 'Data Analyst'
full_job_title = seniority_level + ' ' + job_title
print(full_job_title)

Senior Data Analyst

In [4]:
# Check the length of a string job_title. The variable is set to 'Data Scientist'.

job_title = 'Data Scientist'
job_title_length = len(job_title)
print(job_title_length)

14

In [1]:
# Convert the string job_title to lowercase. The variable is set to 'DATA ENGINEER'.

job_title = 'DATA ENGINEER'
job_title_lower = job_title.lower()
print(job_title_lower)

data engineer