In [1]:
# Access the second job role from the tuple job_roles and print it. The job_roles variable is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
print(job_roles[1])

Data Analyst

In [2]:
# Create a new tuple extended_job_roles by adding the job role 'AI Specialist' to the existing tuple job_roles. 
# Print the new tuple. The job_roles is set to job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
extended_job_roles = job_roles + ('AI Specialist',)
print(extended_job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

In [3]:
# Remove the job role 'Data Analyst' from the tuple job_roles by converting it to a list and then back to a tuple. Print the updated tuple. 
# The tuple job_roles is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles_list = list(job_roles)
job_roles_list.remove('Data Analyst')
updated_job_roles = tuple(job_roles_list)
print(updated_job_roles)

('Data Scientist', 'Machine Learning Engineer')

In [4]:
# Unpack the tuple job_postings into three variables data_scientist_postings, data_analyst_postings, and ml_engineer_postings. 
# Print each variable. The variable job_postings is set to (120, 80, 50).

job_postings = (120, 80, 50)
data_scientist_postings, data_analyst_postings, ml_engineer_postings = job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

120
80
50

In [5]:
# Extract and print the number of postings for 'Machine Learning Engineer' from the nested tuple job_details. 
# The job_details is set to (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50)).

job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
print(job_details[2][1])

50