In [ ]:
# Create a variable, called job_count to store the number 42. Print job_count once calculated.

job_count = 42
print(job_count)

42

In [2]:
# Create variables to store the job title, company name, and whether the job is remote for a Data Engineer position. 
# Set the job title to 'Data Engineer', the company name to 'DataWorks', and the remote status to True. Print all the variables.

job_title = 'Data Engineer'
company_name = 'DataWorks'
remote_status = True
print(job_title, company_name, remote_status)

Data Engineer DataWorks True

In [3]:
# Calculate the total compensation for a Data Scientist by adding two variables of base_salary and bonus. 
# The base salary is 120000 and the bonus is 20000. Store the result in a variable named total_compensation. Print total_compensation once calculated.

base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

In [4]:
# Calculate the monthly salary of a Data Analyst job by dividing the annual salary of $72K by 12 and then printing the monthly salary. 
# Assign appropriate variable names for each.

annual_salary = 72000
monthly_salary = annual_salary / 12
print(monthly_salary)

6000.0

In [5]:
# Create variables to store the job title, company name, and salary for a Data Scientist position at AI Solutions for $110K. 
# Then, calculate the total compensation by adding a 10% bonus to the salary and print the total compensation, along with the job and company name.

job_title = 'Data Scientist'
company_name = 'AI Solutions'
salary = 110000
bonus = salary * 0.1
total_compensation = salary + bonus
print(job_title, company_name, total_compensation)

Data Scientist AI Solutions 121000.0